.App .Container {
  border: 1px solid rgba(176, 174, 174, 0.578);
  margin: 60px auto;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px gray;
}

.App .textBox {
  font-size: 18px;
}

.WeatherCondiotion .Degree {
  font-size: 48px;
}

.WeatherCondiotion .Units {
  list-style: none;
}

.App .dev {
  margin: 0 200px;
}
.Units {
  display: inline;
  cursor: pointer;
}
