.App .Container {
  border: 1px solid rgba(176, 174, 174, 0.578);
  margin: 60px auto;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px gray;
}

.App .textBox{
 font-size: 18px;
}



.Unit .Degree{
  font-size: 64px;
}

.Unit .Units{
  position: relative;
  top:-20px;
}