.App .Container {
  border: 1px solid rgba(176, 174, 174, 0.578);
  margin: 80px auto;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px gray;
}

.App .textBox {
  font-size: 18px;
}

.WeatherCondiotion .Degree {
  font-size: 48px;
}

.WeatherCondiotion .Container {
  margin: 5px;
}
.WeatherCondiotion .Units {
  list-style: none;
}

.App .dev {
 display: flex;
 justify-content:center;
}
.Unit {
  margin-left: 15px;
  
}
.Unit .Units {
  display: inline;
  cursor: pointer;
  
}

.Unit .m{
  color: red;
 
  
}
.WeatherForecast {
  margin-left: 5px;
}

.Forecast .max {
  color:green;
}

.Forecast .min {
  color:tomato;
}
.Forecast img{
  width: 75px;
  height:75px;
  
}